<ion-header>
    <ion-navbar>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
  
      <ion-title>
        My note
      </ion-title>
    </ion-navbar>
</ion-header>
<ion-content text-center>
  <h1>
    {{session?.title}}
  </h1>
  <ion-grid>
    <ion-row justify-content-center>
        <button ion-button icon-only (click)="takeAPhoto()">
            <ion-icon name="camera"></ion-icon>
          </button>
          <button ion-button icon-only (click)="getPictureFromGallery()">
            <ion-icon name="image"></ion-icon>
          </button>
    </ion-row>
    <ion-row justify-content-center>
        <img center width="300" src="{{image}}" (click)="actionSheetOnImage()">  
    </ion-row>
    <ion-row>
        <ion-textarea placeholder="Enter a note" type="text" [(ngModel)]="comment"></ion-textarea>
        <button ion-button full (click)="save()">Save</button>
    </ion-row>
  </ion-grid>
</ion-content>